<section class="about-our-hotel">
  <div class="container">
    <h2 class="hidden">About our hotel</h2>
    <div class="about-apartment">
      <div class="about-apartment__text">
        <h3 class="about-apartment__text-title">Ресторанно-готельний комплекс</h3>
        <p class="about-apartment__text-name">Mimiho</p>
        <p class="about-apartment__text-descr">
          Для гостей нашого міста при ресторані "Міміно" у 2009 році було відкрито невеликий готель, де в номерах європейського рівня ви зможете із комфортом відпочити, насолодившись тишею і професійним обслуговуванням.
        </p>
      </div>
      <div class="about-apartment__picture">
        <picture>
          <!-- Зображення для десктопу -->
          <source
            media="(min-width:1280px)"
            srcset="
              /src/images/about-our-hotel/desktop/modern-studio-apartment-design.jpg    1x,
              /src/images/about-our-hotel/desktop/modern-studio-apartment-design@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <!-- Зображення для tablet -->
          <source
            media="(min-width:1024px)"
            srcset="
              /src/images/about-our-hotel/tablet/modern-studio-apartment-design.jpg    1x,
              /src/images/about-our-hotel/tablet/modern-studio-apartment-design@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <!-- Зображення для mobile -->

          <source
            media="(max-width:1023px)"
            srcset="
              /src/images/about-our-hotel/mobile/modern-studio-apartment-design.jpg    1x,
              /src/images/about-our-hotel/mobile/modern-studio-apartment-design@2x.jpg 2x
            "
            type="image/jpg"
          />

          <img
            class="about-apartment__img"
            src="/src/images/about-our-hotel/mobile/modern-studio-apartment-design.jpg"
            alt="apartment"
            width="244"
            height="322"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
    <div class="about-hotel">
      <div class="about-hotel__hotel">
        <p class="about-hotel__text-descr">
          Персонал готелю із радістю допоможе Вам відчути себе затишно і безпечно, професійно виконає Ваші побажання.
        </p>
        <picture>
          <!-- Зображення для десктопу -->
          <source
            media="(min-width:1280px)"
            srcset="
              /src/images/about-our-hotel/desktop/hotel.jpg    1x,
              /src/images/about-our-hotel/desktop/hotel@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <!-- Зображення для tablet -->
          <source
            media="(min-width:1024px)"
            srcset="
              /src/images/about-our-hotel/tablet/hotel.jpg    1x,
              /src/images/about-our-hotel/tablet/hotel@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <!-- Зображення для mobile -->

          <source
            media="(max-width:1023px)"
            srcset="
              /src/images/about-our-hotel/mobile/hotel.jpg    1x,
              /src/images/about-our-hotel/mobile/hotel@2x.jpg 2x
            "
            type="image/jpg"
          />

          <img
            class="about-hotel__img"
            src="/src/images/about-our-hotel/mobile/hotel.jpg"
            alt="apartment"
            width="200"
            height="278"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="about-hotel__picture"></div>

      <!-- Slider -->
      <div class="minislider about-hotel-minislider" data-slider="mini-slider">
        <div class="swiper about-hotel-swiper">
          <ul class="swiper-wrapper">
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  srcset="
                    /src/images/minslider/hotel/hotel-registration-194.jpg 194w,
                    /src/images/minslider/hotel/hotel-registration-245.jpg 245w,
                    /src/images/minslider/hotel/hotel-registration-254.jpg 254w,
                    /src/images/minslider/hotel/hotel-registration-388.jpg 388w,
                    /src/images/minslider/hotel/hotel-registration-490.jpg 490w,
                    /src/images/minslider/hotel/hotel-registration-508.jpg 508w
                  "
                  src="/src/images/minslider/hotel/hotel-registration-194.jpg"
                  sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 245px"
                  alt="goblets of wine"
                />
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  srcset="
                    /src/images/minslider/hotel/reception-194.jpg 194w,
                    /src/images/minslider/hotel/reception-245.jpg 245w,
                    /src/images/minslider/hotel/reception-254.jpg 254w,
                    /src/images/minslider/hotel/reception-388.jpg 388w,
                    /src/images/minslider/hotel/reception-490.jpg 490w,
                    /src/images/minslider/hotel/reception-508.jpg 508w
                  "
                  src="/src/images/minslider/hotel/reception-194.jpg"
                  sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 245px"
                  alt="reception"
                />
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  srcset="
                    /src/images/minslider/hotel/towels-194.jpg 194w,
                    /src/images/minslider/hotel/towels-245.jpg 245w,
                    /src/images/minslider/hotel/towels-254.jpg 254w,
                    /src/images/minslider/hotel/towels-388.jpg 388w,
                    /src/images/minslider/hotel/towels-490.jpg 490w,
                    /src/images/minslider/hotel/towels-508.jpg 508w
                  "
                  src="/src/images/minslider/hotel/towels-194.jpg"
                  sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 245px"
                  alt="breakfast in our hotel"
                />
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  srcset="
                    /src/images/minslider/hotel/bathroom-194.jpg 194w,
                    /src/images/minslider/hotel/bathroom-245.jpg 245w,
                    /src/images/minslider/hotel/bathroom-254.jpg 254w,
                    /src/images/minslider/hotel/bathroom-388.jpg 388w,
                    /src/images/minslider/hotel/bathroom-490.jpg 490w,
                    /src/images/minslider/hotel/bathroom-508.jpg 508w
                  "
                  src="/src/images/minslider/hotel/bathroom-194.jpg"
                  sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 245px"
                  alt="dinner"
                />
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  srcset="
                    /src/images/minslider/hotel/hotel-amenities-194.jpg 194w,
                    /src/images/minslider/hotel/hotel-amenities-245.jpg 245w,
                    /src/images/minslider/hotel/hotel-amenities-254.jpg 254w,
                    /src/images/minslider/hotel/hotel-amenities-388.jpg 388w,
                    /src/images/minslider/hotel/hotel-amenities-490.jpg 490w,
                    /src/images/minslider/hotel/hotel-amenities-508.jpg 508w
                  "
                  src="/src/images/minslider/hotel/hotel-amenities-194.jpg"
                  sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 245px"
                  alt="dumplings"
                />
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  srcset="
                    /src/images/minslider/hotel/livingroom-194.jpg 194w,
                    /src/images/minslider/hotel/livingroom-245.jpg 245w,
                    /src/images/minslider/hotel/livingroom-254.jpg 254w,
                    /src/images/minslider/hotel/livingroom-388.jpg 388w,
                    /src/images/minslider/hotel/livingroom-490.jpg 490w,
                    /src/images/minslider/hotel/livingroom-508.jpg 508w
                  "
                  src="/src/images/minslider/hotel/livingroom-194.jpg"
                  sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 245px"
                  alt="fresh pastries"
                />
              </div>
            </li>
          </ul>
          <div class="swiper-btns">
            <button
              type="button"
              class="swiper-btn swiper-button-prev swiper-btn-prev"
            >
              <svg width="32" height="32">
                <use href="./images/icons-svg.svg#icon-arrow-right"></use>
              </svg>
            </button>
            <button
              type="button"
              class="swiper-btn swiper-button-next swiper-btn-next"
            >
              <svg width="32" height="32">
                <use href="./images/icons-svg.svg#icon-arrow-left"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
