<section class="about-our-hotel">
  <div class="container">
    <h2 class="hidden">About our hotel</h2>
    <div class="about-apartment">
      <div class="about-apartment__text">
        <h3 class="about-apartment__text-title">Amet minim mollit non</h3>
        <p class="about-apartment__text-name">Mimiho</p>
        <p class="about-apartment__text-descr">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div class="about-apartment__picture">
        <picture>
          <!-- Зображення для десктопу -->
          <source
            media="(min-width:1280px)"
            srcset="
              /src/images/about-our-hotel/desktop/modern-studio-apartment-design.jpg    1x,
              /src/images/about-our-hotel/desktop/modern-studio-apartment-design@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <!-- Зображення для tablet -->
          <source
            media="(min-width:1024px)"
            srcset="
              /src/images/about-our-hotel/tablet/modern-studio-apartment-design.jpg    1x,
              /src/images/about-our-hotel/tablet/modern-studio-apartment-design@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <!-- Зображення для mobile -->

          <source
            media="(max-width:1023px)"
            srcset="
              /src/images/about-our-hotel/mobile/modern-studio-apartment-design.jpg    1x,
              /src/images/about-our-hotel/mobile/modern-studio-apartment-design@2x.jpg 2x
            "
            type="image/jpg"
          />

          <img
            class="about-apartment__img"
            src="/src/images/about-our-hotel/mobile/modern-studio-apartment-design.jpg"
            alt="apartment"
            width="244"
            height="322"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
    <div class="about-hotel">
      <div class="about-hotel__text">
        <p class="about-hotel__text-descr">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div class="about-hotel__picture">
        <picture>
          <!-- Зображення для десктопу -->
          <source
            media="(min-width:1280px)"
            srcset="
              /src/images/about-our-hotel/desktop/hotel.jpg    1x,
              /src/images/about-our-hotel/desktop/hotel@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <!-- Зображення для tablet -->
          <source
            media="(min-width:1024px)"
            srcset="
              /src/images/about-our-hotel/tablet/hotel.jpg    1x,
              /src/images/about-our-hotel/tablet/hotel@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <!-- Зображення для mobile -->

          <source
            media="(max-width:1023px)"
            srcset="
              /src/images/about-our-hotel/mobile/hotel.jpg    1x,
              /src/images/about-our-hotel/mobile/hotel@2x.jpg 2x
            "
            type="image/jpg"
          />

          <img
            class="about-hotel__img"
            src="/src/images/about-our-hotel/mobile/hotel.jpg"
            alt="apartment"
            width="200"
            height="278"
            loading="lazy"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
