<button class="button" type="button">Забронювати столик</button>
    <button class="button" type="button">Забронювати номер</button>
    <button class="button" type="button">Переглянути меню</button>
    <button class="button" type="button">Переглянути ціни</button>
    <button class="button-black" type="button">Детальніше</button>
    <button class="button-black" type="button">Переглянути ціни</button>
    <button class="button-black" type="button">Забронювати столик</button>
    <button class="button-accept" type="button">ОФОРМИТИ БРОНЮВАННЯ</button>

    
    <button class="button-modal" type="button">ОФОРМИТИ БРОНЮВАННЯ</button>
    
    <button class="button-mob" type="button">ОФОРМИТИ БРОНЮВАННЯ</button>
    <button class="button-mob2" type="button">ОФОРМИТИ БРОНЮВАННЯ</button>
    
    <button class="button-disabled" type="button">Повернутися до перегляду номерів
        <svg class="svg-button-disabled">
            <use href="./images/icons-svg.svg#icon-arrow-right"></use>
        </svg>
    </button>