<section class="details-hotel">
    <div class="container">
        <h3 class="details-hotel__uptitle">Міміно</h3>
        <h2 class="details-hotel__title">Готель</h2>
        <p class="details-hotel__subtitle">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.
        </p>

        <ul class="details-hotel-list">
            <li class="details-hotel-list__item">
                <!-- <picture>
                    <source srcset="./images 1x, ./images 2x" media="(min-width: 1280px)" />
                    <source srcset="./images 1x, ./images 2x" media="(min-width: 1024px)" />
                    <source srcset="./images 1x, ./images 2x" media="(max-width: 1023px)" />
                    <img src="./images" alt="Готель" width="274" height="270">
                </picture>  -->
            </li>
            <li class="details-hotel-list__item">
            </li>
            <li class="details-hotel-list__item">
            </li>
        </ul>

        <button class="details-hotel__btn" type="button">Забронювати номер</button>
        <a class="details-hotel__link" href="">Переглянути ціни</a>

        <ul class="details-hotel-swiper">
            <li class="details-hotel-swiper__item">
                <svg class="details-hotel-swiper__icon" width="32" height="32">
                    <use href="./images/icons-svg.svg#icon-arrow-left"></use>
                </svg>
            </li>
            <li class="details-hotel-swiper__item">
                <svg class="details-hotel-swiper__icon" width="32" height="32">
                    <use href="./images/icons-svg.svg#icon-arrow-right"></use>
                </svg>
            </li>
        </ul>
    </div>
</section>