<header class="header">
    <div class="container header__container">
        <a href="/src/index.html" class="header__logo link">Mimiho</a>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item"> <a class="nav__link link" href="/src/restaurant.html">Ресторан</a> </li>
                <li class="nav__item"> <a class="nav__link link" href="tel:+380955559533">
                        <svg class="nav__icon" aria-label="Іконка телефону" width="24" height="24">
                            <use href="/src/images/icons-svg.svg#icon-phone"></use>
                        </svg> <span class="nav__text">095 555 95 33</span> </a> </li>
                <li class="nav__item"> <a class="nav__link link" href="/src/hotel.html">Готель</a> </li>
                <li class="nav__item"> <a class="nav__link" href="tel:+380668491089">
                        <svg class="nav__icon" aria-label="Іконка телефону" width="24" height="24">
                            <use href="/src/images/icons-svg.svg#icon-phone"></use>
                        </svg> <span class="nav__text">066 849 10 89</span> </a>
                </li>

            </ul>
        </nav>
        <ul class="social">
            <li class="social__item">
                <a class="social__link link" href="https://www.instagram.com/mimino.poltava/" target="_blank" rel="noopener noreferrer">
                    <svg class="social__icon" aria-label="Іконка Instagram" width="24" height="24">
                        <use href="/src/images/icons-svg.svg#icon-inst"></use>
                    </svg>
                </a>
            </li>
            <li class="social__item">
                <a class="social__link" href="https://www.facebook.com/people/%D0%9C%D0%B8%D0%BC%D0%B8%D0%BD%D0%BE/100083391460447/" target="_blank" rel="noopener noreferrer">
                    <svg class="social__icon" aria-label="Іконка Facebook" width="24" height="24">
                        <use href="/src/images/icons-svg.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="social__item">
                <a class="social__link link" href="#" target="_blank" rel="noopener noreferrer">
                    <svg class="social__icon" aria-label="Іконка Telegram" width="24" height="24">
                        <use href="/src/images/icons-svg.svg#icon-telegram"></use>
                    </svg> </a>
            </li>
        </ul>
    </div>
</header>