<header class="header">
    <div class="container header__container">
        <a href="" class="logo header__logo link">MIMINO</a>
        <nav class="nav">
            <ul class="nav__list list">
                <li class="nav__item"><a href="" class="nav__link link">Ресторан
                    <svg class="nav__icon" width="24" height="24">
                        <use href="/src/images/icons-svg.svg#icon-phone"></use>
                    </svg>
                </a>
                    <a href="" class="nav__connect link">
                        <svg class="nav__icon-connect" width="24" height="24">
                            <use href="/src/images/icons-svg.svg#icon-phone"></use>
                        </svg>
                        095 555 95 33
                    </a>                            
                    </li>
                <li class="nav__item"><a href="" class="nav__link link">Готель
                    <svg class="nav__icon" width="24" height="24">
                        <use href="/src/images/icons-svg.svg#icon-phone"></use>
                    </svg>
                </a>
                    <a href="" class="nav__connect link">
                        <svg class="nav__icon-connect" width="24" height="24">
                            <use href="/src/images/icons-svg.svg#icon-phone"></use>
                        </svg>
                        066 849 10 89
                    </a>                    
                </li>
            </ul>
        </nav>
    </div>
</header>