<section class="menu-restaurant">
  <div class="container">
    <h2 class="menu-restaurant__main-tittle">МЕНЮ РЕСТОРАНУ</h2>
    <div class="menu-restaurant__list-category">
      <div class="menu-restaurant__column">
        <div class="menu-restaurant__category">
          <h3 class="menu-restaurant__tittle">Гарячі страви</h3>
          <ul class="menu-restaurant__list">
            <li class="menu-restaurant__item">
              <div class="menu-restaurant__wraper">
                <h4 class="menu-restaurant__name">
                  Борщ з телятини з квасолею
                </h4>
                <p class="menu-restaurant__description">
                  Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
                  помідори, зелень, сметана
                </p>
              </div>
              <p class="menu-restaurant__weight">400&nbsp;г</p>
              <p class="menu-restaurant__price">240&nbsp;грн</p>
            </li>
            <li class="menu-restaurant__item">
              <div class="menu-restaurant__wraper">
                <h4 class="menu-restaurant__name">Суп сирний з куркою</h4>
                <p class="menu-restaurant__description">
                  Курятина, картопля, морква, цибуля, печериці, сир м’який,
                  зелень
                </p>
              </div>
              <p class="menu-restaurant__weight">400&nbsp;г</p>
              <p class="menu-restaurant__price">200&nbsp;грн</p>
            </li>
          </ul>
        </div>
        <div class="menu-restaurant__category">
          <h3 class="menu-restaurant__tittle">Гарячі страви</h3>
          <ul class="menu-restaurant__list">
            <li class="menu-restaurant__item">
              <div class="menu-restaurant__wraper">
                <h4 class="menu-restaurant__name">
                  Борщ з телятини з квасолею
                </h4>
                <p class="menu-restaurant__description">
                  Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
                  помідори, зелень, сметана
                </p>
              </div>
              <p class="menu-restaurant__weight">400&nbsp;г</p>
              <p class="menu-restaurant__price">240&nbsp;грн</p>
            </li>
            <li class="menu-restaurant__item">
              <div class="menu-restaurant__wraper">
                <h4 class="menu-restaurant__name">Суп сирний з куркою</h4>
                <p class="menu-restaurant__description">
                  Курятина, картопля, морква, цибуля, печериці, сир м’який,
                  зелень
                </p>
              </div>
              <p class="menu-restaurant__weight">400&nbsp;г</p>
              <p class="menu-restaurant__price">200&nbsp;грн</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="menu-restaurant__column">
        <div class="menu-restaurant__category">
          <h3 class="menu-restaurant__tittle">Гарячі страви</h3>
          <ul class="menu-restaurant__list">
            <li class="menu-restaurant__item">
              <div class="menu-restaurant__wraper">
                <h4 class="menu-restaurant__name">
                  Борщ з телятини з квасолею
                </h4>
                <p class="menu-restaurant__description">
                  Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
                  помідори, зелень, сметана
                </p>
              </div>
              <p class="menu-restaurant__weight">400&nbsp;г</p>
              <p class="menu-restaurant__price">240&nbsp;грн</p>
            </li>
            <li class="menu-restaurant__item">
              <div class="menu-restaurant__wraper">
                <h4 class="menu-restaurant__name">Суп сирний з куркою</h4>
                <p class="menu-restaurant__description">
                  Курятина, картопля, морква, цибуля, печериці, сир м’який,
                  зелень
                </p>
              </div>
              <p class="menu-restaurant__weight">400&nbsp;г</p>
              <p class="menu-restaurant__price">200&nbsp;грн</p>
            </li>
          </ul>
        </div>
        <div class="menu-restaurant__category">
          <h3 class="menu-restaurant__tittle">Гарячі страви</h3>
          <ul class="menu-restaurant__list">
            <li class="menu-restaurant__item">
              <div class="menu-restaurant__wraper">
                <h4 class="menu-restaurant__name">
                  Борщ з телятини з квасолею
                </h4>
                <p class="menu-restaurant__description">
                  Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
                  помідори, зелень, сметана
                </p>
              </div>
              <p class="menu-restaurant__weight">400&nbsp;г</p>
              <p class="menu-restaurant__price">240&nbsp;грн</p>
            </li>
            <li class="menu-restaurant__item">
              <div class="menu-restaurant__wraper">
                <h4 class="menu-restaurant__name">Суп сирний з куркою</h4>
                <p class="menu-restaurant__description">
                  Курятина, картопля, морква, цибуля, печериці, сир м’який,
                  зелень
                </p>
              </div>
              <p class="menu-restaurant__weight">400&nbsp;г</p>
              <p class="menu-restaurant__price">200&nbsp;грн</p>
            </li>
          </ul>
        </div>
        <div class="menu-restaurant__category">
          <h3 class="menu-restaurant__tittle">Гарячі страви</h3>
          <ul class="menu-restaurant__list">
            <li class="menu-restaurant__item">
              <div class="menu-restaurant__wraper">
                <h4 class="menu-restaurant__name">
                  Борщ з телятини з квасолею
                </h4>
                <p class="menu-restaurant__description">
                  Телятина, картопля, капуста, морква, цибуля, квасоля, часник,
                  помідори, зелень, сметана
                </p>
              </div>
              <p class="menu-restaurant__weight">400&nbsp;г</p>
              <p class="menu-restaurant__price">240&nbsp;грн</p>
            </li>
            <li class="menu-restaurant__item">
              <div class="menu-restaurant__wraper">
                <h4 class="menu-restaurant__name">Суп сирний з куркою</h4>
                <p class="menu-restaurant__description">
                  Курятина, картопля, морква, цибуля, печериці, сир м’який,
                  зелень
                </p>
              </div>
              <p class="menu-restaurant__weight">400&nbsp;г</p>
              <p class="menu-restaurant__price">200&nbsp;грн</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <button class="menu-restaurant__button" type="button">
      Забронювати столик
    </button>
  </div>
</section>
