<section class="restaurant">
    <div class="restaurant-details container">
        <!-- Текстовий контент -->
        <div class="contentbox">
            <p class="restaurant-details__logo">MIMIHO</p>
            <h2 class="restaurant-details__title">Ресторан</h2>
            <p class="restaurant-details__text">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                sint. Velit officia consequat duis enim velit mollit.
            </p>
        </div>
        <!-- Свайпер -->
        <div class="minislider" data-slider="mini-slider">
            <div class="swiper">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide">
                        <div class="swiper-inner">
                            <img srcset="
                            ./images/restaurant-details/mobile/slide1.jpg 270w,
                            ./images/restaurant-details/tablet/slide1.jpg 270w,
                            ./images/restaurant-details/desktop/slide1.jpg 270w,
                            ./images/restaurant-details/mobile/slide1@2x.jpg 540w,
                            ./images/restaurant-details/tablet/slide1@2x.jpg 540w,
                            ./images/restaurant-details/desktop/slide1@2x.jpg 540w
                        " src="./images/restaurant-details/mobile/slide1.jpg"
                                sizes="(min-width: 1280px) 270px, (min-width: 1024px) 270px, 270px"
                                alt="Cтейк на тарілці" />
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="swiper-inner">
                            <img srcset="
                            ./images/restaurant-details/mobile/slide2.jpg 270w,
                            ./images/restaurant-details/tablet/slide2.jpg 270w,
                            ./images/restaurant-details/desktop/slide2.jpg 270w,
                            ./images/restaurant-details/mobile/slide2@2x.jpg 540w,
                            ./images/restaurant-details/tablet/slide2@2x.jpg 540w,
                            ./images/restaurant-details/desktop/slide2@2x.jpg 540w
                        " src="./images/restaurant-details/mobile/slide2.jpg"
                                sizes="(min-width: 1280px) 270px, (min-width: 1024px) 270px, 270px"
                                alt="Шашлик на маленькій дошчечці" />
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="swiper-inner">
                            <img srcset="
                            ./images/restaurant-details/mobile/slide3.jpg 270w,
                            ./images/restaurant-details/tablet/slide3.jpg 270w,
                            ./images/restaurant-details/desktop/slide3.jpg 250w,
                            ./images/restaurant-details/mobile/slide3@2x.jpg 540w,
                            ./images/restaurant-details/tablet/slide3@2x.jpg 540w,
                            ./images/restaurant-details/desktop/slide3@2x.jpg 540w
                        " src="./images/restaurant-details/mobile/slide3.jpg"
                                sizes="(min-width: 1280px) 270px, (min-width: 1024px) 270px, 270px"
                                alt="Блюдо на пательні" />
                        </div>
                    </li>
                </ul>
                <div class="swiper-btns">
                    <button type="button" class="swiper-btn swiper-button-prev">
                        <svg width="32" height="32">
                            <use href="./images/icons-svg.svg#icon-arrow-left"></use>
                        </svg>
                    </button>
                    <button type="button" class="swiper-btn swiper-button-next">
                        <svg width="32" height="32">
                            <use href="./images/icons-svg.svg#icon-arrow-right"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <!-- Мій слайсер 
        <div class="swiper-container">
            <div class="swiper-place">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide">
                        <picture>
                            <source media="(min-width: 1280px)" srcset="
                                ./images/restaurant-details/desktop/slide1.jpg    1x,
                                ./images/restaurant-details/desktop/slide1@2x.jpg 2x" />
                            <source media="(min-width: 1024px)" srcset="
                                ./images/restaurant-details/tablet/slide1.jpg    1x,
                                ./images/restaurant-details/tablet/slide1@2x.jpg 2x" />
                            <source media="(max-width: 1023px)" srcset="
                                ./images/restaurant-details/mobile/slide1.jpg    1x,
                                ./images/restaurant-details/mobile/slide1@2x.jpg 2x" />
                            <img class="swiper-slide__image" src="./images/restaurant-details/desktop/slide1.jpg"
                                alt="Cтейк на тарілці" />
                        </picture>
                    </li>
                    <li class="swiper-slide">
                        <picture>
                            <source media="(min-width: 1280px)" srcset="
                                    ./images/restaurant-details/desktop/slide2.jpg    1x,
                                    ./images/restaurant-details/desktop/slide2@2x.jpg 2x" />
                            <source media="(min-width: 1024px)" srcset="
                                    ./images/restaurant-details/tablet/slide2.jpg    1x,
                                    ./images/restaurant-details/tablet/slide2@2x.jpg 2x" />
                            <source media="(max-width: 1023px)" srcset="
                                    ./images/restaurant-details/mobile/slide2.jpg    1x,
                                    ./images/restaurant-details/mobile/slide2@2x.jpg 2x" />
                            <img class="swiper-slide__image" src="./images/restaurant-details/desktop/slide2.jpg"
                                alt="Шашлик на маленькій дошчечці" />
                        </picture>
                    </li>
                    <li class="swiper-slide">
                        <picture>
                            <source media="(min-width: 1280px)" srcset="
                                ./images/restaurant-details/desktop/slide3.jpg    1x,
                                ./images/restaurant-details/desktop/slide3@2x.jpg 2x" />
                            <source media="(min-width: 1024px)" srcset="
                                ./images/restaurant-details/tablet/slide3.jpg    1x,
                                ./images/restaurant-details/tablet/slide3@2x.jpg 2x" />
                            <source media="(max-width: 1023px)" srcset="
                                ./images/restaurant-details/mobile/slide3.jpg    1x,
                                ./images/restaurant-details/mobile/slide3@2x.jpg 2x" />
                            <img class="swiper-slide__image" src="./images/restaurant-details/desktop/slide3.jpg"
                                alt="Блюдо на пательні" />
                        </picture>
                    </li>
                </ul>
            </div>
            -->
        <!-- Стрілки навігації по свайперу -->
        <!-- 
            <div class="swiper-arrows">
                <div class="swiper-button-left">
                    <svg width="32" height="32">
                        <use href="./images/icons-svg.svg#icon-arrow-left"></use>
                    </svg>
                </div>
                <div class="swiper-button-right">
                    <svg class="icon" width="32" height="32">
                        <use href="./images/icons-svg.svg#icon-arrow-right"></use>
                    </svg>
                </div>
            </div>
        </div>
        -->
        <!-- Кнопки виклику модалки і переходу на меню -->
        <ul class="details-buttons">
            <li class="details-buttons__item">
                <button class="modal-button" type="button" data-modal-open>
                    Забронювати столик
                </button>
            </li>
            <li class="details-buttons__item">
                <a target="_blank" class="link-button" href="./restaurant.html#menu">
                    Переглянути меню
                </a>
            </li>
        </ul>
    </div>
</section>