<section class="restaurant-hero">
    <div class="container">
        <h1 class="restaurant-hero__title">Mimiho</h1>
        <h2 class="restaurant-hero__subtitle">Ресторан</h2>
        <p class="restaurant-hero__txt">Смак життя 24&sol;7</p>
        <div class="hfooter">
            <!-- Адреса ресторану -->
            <div class="location">
                <a class="location__link" href="https://goo.gl/maps/5fYRpYfwEm4AJ6J57"
                    rel="noreferrer nofollow noopener" target="_blank">
                    <svg class="location__ico" width="20" height="20">
                        <use href="./images/icons.svg#icon-location"></use>
                    </svg>
                    Україна, м. Полтава, <br />
                    вул. Маршала Бірюзова, 15</a>
            </div>
            <!-- Кнопки -->
            <ul class="hero-buttons">
                <li class="hero-buttons__item">
                    <button type="button" class="rounded-button" data-modal-open>
                        Забронювати столик
                    </button>
                </li>
                <li class="hero-buttons__item">
                    <a type="button" class="rounded-button" href="./restaurant.html#menu">
                        Переглянути меню
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>