<section class="room-section">
    <div class="container">
        <h2 class="room-section__title">зручності у номері</h2>
        <p class="room-section__text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
        </p>
        <ul class="room-amenities">
            <li class="room-amenities__item">
                <h3 class="room-amenities__title">загальні</h3>
                <div class="room-amenities__card">
                <p class="room-amenities__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                <p class="room-amenities__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
              </div>
            </li>
            <li class="room-amenities__item">
                <h3 class="room-amenities__title">ванна кімната</h3>
                <div class="room-amenities__card">
                <p class="room-amenities__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                <p class="room-amenities__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
               </div>
            </li>
            <li class="room-amenities__item">
                <h3 class="room-amenities__title">спальня</h3>
                <p class="room-amenities__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
            </li>
            <li class="room-amenities__item">
                <h3 class="room-amenities__title">кухня</h3>
                <div class="room-amenities__card">
                <p class="room-amenities__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
                <p class="room-amenities__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
               </div>
            </li>
            <li class="room-amenities__item">
                <h3 class="room-amenities__title">медіа</h3>
                <p class="room-amenities__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.</p>
            </li>
        </ul>
        <button class="room-reserve-btn button-mob" type="button" data-modal-open-first>оформити бронювання</button>
        <a class="back-hotel-link" href="hotel.html">Повернутися до перегляду номерів
            <svg class="back-hotel-icon" width="24" height="24">
              <use href="./images/icons-svg.svg#icon-arrow-right"></use>
            </svg>
        </a>
    </div>
</section>
