<section class="room-section">
    <div class="container">
        <h2 class="room-section__title">зручності у номері</h2>
        <ul class="room-amenities">
            <li class="room-amenities__item">
                <p class="room-amenities__text">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                </p>
            </li>
            <li class="room-amenities__item">
                <h3 class="room-amenities__title">загальні</h3>
            </li>
            <li class="room-amenities__item">
                <h3 class="room-amenities__title">ванна кімната</h3>
            </li>
            <li class="room-amenities__item">
                <h3 class="room-amenities__title">спальня</h3>
            </li>
            <li class="room-amenities__item">
                <h3 class="room-amenities__title">кухня</h3>
            </li>
            <li class="room-amenities__item">
                <h3 class="room-amenities__title">медіа</h3>
            </li>
        </ul>
    </div>
</section>
