<section class="about-rest">
  <div class="container">
    <h1 class="hidden">About our restaurant</h1>
    <div class="about-rest-intro">
      <div class="about-rest-text">
        <h2 class="about-rest-subtitle">Amet minim mollit non</h2>
        <h1 class="about-rest-title">MIMIHO</h1>
        <p class="about-rest-descr">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <img
        class="about-rest-interior-img"
        srcset="
          ./images/homepage_about-our-restaurant/restaurant-interior-244.jpg 244w,
          ./images/homepage_about-our-restaurant/restaurant-interior-400.jpg 400w,
          ./images/homepage_about-our-restaurant/restaurant-interior-460.jpg 460w,
          ./images/homepage_about-our-restaurant/restaurant-interior-488.jpg 488w,
          ./images/homepage_about-our-restaurant/restaurant-interior-800.jpg 800w,
          ./images/homepage_about-our-restaurant/restaurant-interior-920.jpg 920w
        "
        sizes="(min-width: 1280px) 460px, (min-width: 1024px) 400px, 244px"
        src="./images/homepage_about-our-restaurant/restaurant-interior-244.jpg"
        alt="restaurant interior"
      />
    </div>
    <div class="about-rest-images">
      <div class="about-rest-conclusion">
        <img
          class="about-rest-facilities-img"
          srcset="
            ./images/homepage_about-our-restaurant/restaurant-tables-200.jpg 200w,
            ./images/homepage_about-our-restaurant/restaurant-tables-350.jpg 350w,
            ./images/homepage_about-our-restaurant/restaurant-tables-400.jpg 400w,
            ./images/homepage_about-our-restaurant/restaurant-tables-460.jpg 460w,
            ./images/homepage_about-our-restaurant/restaurant-tables-700.jpg 700w,
            ./images/homepage_about-our-restaurant/restaurant-tables-920.jpg 920w
          "
          sizes="(min-width: 1280px) 460px, (min-width: 1024px) 350px, 200px"
          src="./images/homepage_about-our-restaurant/restaurant-tables-200.jpg"
          alt="tables in restaurant"
        />
        <p class="about-rest-preferences">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div class="minislider" data-slider="mini-slider">
        <div class="swiper">
          <ul class="swiper-wrapper">
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  srcset="
                    ./images/minslider/restaurant/set-table-194.jpg 194w,
                    ./images/minslider/restaurant/set-table-254.jpg 254w,
                    ./images/minslider/restaurant/set-table-388.jpg 388w,
                    ./images/minslider/restaurant/set-table-508.jpg 508w
                  "
                  src="./images/minslider/restaurant/set-table-194.jpg"
                  sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 245px"
                  alt="table is always set"
                />
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  srcset="
                    ./images/minslider/restaurant/slider-goblet-194.jpg 194w,
                    ./images/minslider/restaurant/slider-goblet-245.jpg 245w,
                    ./images/minslider/restaurant/slider-goblet-254.jpg 254w,
                    ./images/minslider/restaurant/slider-goblet-388.jpg 388w,
                    ./images/minslider/restaurant/slider-goblet-490.jpg 490w,
                    ./images/minslider/restaurant/slider-goblet-508.jpg 508w
                  "
                  src="./images/minslider/restaurant/slider-goblet-194.jpg"
                  sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 245px"
                  alt="goblets of wine"
                />
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  srcset="
                    ./images/minslider/restaurant/breakfast-194.jpg 194w,
                    ./images/minslider/restaurant/breakfast-245.jpg 245w,
                    ./images/minslider/restaurant/breakfast-254.jpg 254w,
                    ./images/minslider/restaurant/breakfast-388.jpg 388w,
                    ./images/minslider/restaurant/breakfast-490.jpg 490w,
                    ./images/minslider/restaurant/breakfast-508.jpg 508w
                  "
                  src="./images/minslider/restaurant/breakfast-194.jpg"
                  sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 245px"
                  alt="breakfast in our hotel"
                />
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  srcset="
                    ./images/minslider/restaurant/dinner-194.jpg 194w,
                    ./images/minslider/restaurant/dinner-245.jpg 245w,
                    ./images/minslider/restaurant/dinner-254.jpg 254w,
                    ./images/minslider/restaurant/dinner-388.jpg 388w,
                    ./images/minslider/restaurant/dinner-490.jpg 490w,
                    ./images/minslider/restaurant/dinner-508.jpg 508w
                  "
                  src="./images/minslider/restaurant/dinner-194.jpg"
                  sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 245px"
                  alt="dinner"
                />
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  srcset="
                    ./images/minslider/restaurant/slider-dumplings-194.jpg 194w,
                    ./images/minslider/restaurant/slider-dumplings-245.jpg 245w,
                    ./images/minslider/restaurant/slider-dumplings-254.jpg 254w,
                    ./images/minslider/restaurant/slider-dumplings-388.jpg 388w,
                    ./images/minslider/restaurant/slider-dumplings-490.jpg 490w,
                    ./images/minslider/restaurant/slider-dumplings-508.jpg 508w
                  "
                  src="./images/minslider/restaurant/slider-dumplings-194.jpg"
                  sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 245px"
                  alt="dumplings"
                />
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <img
                  srcset="
                    ./images/minslider/restaurant/slider-flour-194.jpg 194w,
                    ./images/minslider/restaurant/slider-flour-245.jpg 245w,
                    ./images/minslider/restaurant/slider-flour-254.jpg 254w,
                    ./images/minslider/restaurant/slider-flour-388.jpg 388w,
                    ./images/minslider/restaurant/slider-flour-490.jpg 490w,
                    ./images/minslider/restaurant/slider-flour-508.jpg 508w
                  "
                  src="./images/minslider/restaurant/slider-flour-194.jpg"
                  sizes="(min-width: 1280px) 254px, (min-width: 1024px) 194px, 245px"
                  alt="fresh pastries"
                />
              </div>
            </li>
          </ul>
          <!-- swiper-button -->
          <div class="swiper-btns">
            <button type="button" class="swiper-btn swiper-button-prev">
              <svg width="32" height="32">
                <use href="./images/icons-svg.svg#icon-arrow-left"></use>
              </svg>
            </button>
            <button type="button" class="swiper-btn swiper-button-next">
              <svg width="32" height="32">
                <use href="./images/icons-svg.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
