<section class="hero">
    <div class="container">
        <a href="" class="hero__location link">
            <svg class="hero__icon-location" width="20" height="20">
                <use href="/src/images/icons-svg.svg#icon-location"></use>
            </svg>Україна, м. Полтава,
            <br>вул. Маршала Бірюзова, 15</a>
        <div class="hero__container">
            <h1 class="hero__title-logo">MIMINO</h1>
            <p class="hero__text">Ресторанно-готельний комплекс</p>
            <h2 class="hero__title">СМАК ЖИТТЯ 24/7</h2>
            <div class="hero__btns">
            <button type="button" class="hero__btn">Забронювати столик</button>
            <button type="button" class="hero__btn">Забронювати номер</button>
            </div>
        </div>
        <div class="hero__icons">
            <svg class="hero__icon-social" width="24" height="24">
                <use href="/src/images/icons-svg.svg#icon-inst"></use>
            </svg>
            <svg class="hero__icon-social" width="24" height="24">
                <use href="/src/images/icons-svg.svg#icon-facebook"></use>
            </svg>
            <svg class="hero__icon-social" width="24" height="24">
                <use href="/src/images/icons-svg.svg#icon-telegram"></use>
            </svg>

        </div>
    </div>
</section>