<section class="section-hero">
    <div class="hero-homepage">
        <h1 class="hero__tittle">Mimiho</h1>
        <h2 class="hero__name">Ресторанно-готельний комплекс</h2>
        <p class="hero__slogan">Смак життя 24/7</p> <a class="hero__location" href="#"> <svg
                class="hero__location-icon">
                <use href="/src/images/icons-svg.svg#icon-location"></use>
            </svg>
            <p> Україна, м. Полтава,<br> вул. Маршала Бірюзова, 15 </p>
        </a> <button type="button" class="hero__btn hero__btn--first"> Забронювати столик </button>
        <button type="button" class="hero__btn hero__btn--second"> Забронювати номер
        </button>
        <ul class="social-list-nav">
            <li> <a href="#"> <svg class="social-list-nav__icon" height="24" width="24">
                        <use href="/src/images/icons-svg.svg#icon-inst"></use>
                    </svg> </a> </li>
            <li> <a href="#"> <svg class="social-list-nav__icon" height="24" width="24">
                        <use href="/src/images/icons-svg.svg#icon-facebook"></use>
                    </svg> </a> </li>
            <li> <a href="#"> <svg class="social-list-nav__icon" height="24" width="24">
                        <use href="/src/images/icons-svg.svg#icon-telegram"></use>
                    </svg> </a> </li>
        </ul>
    </div>
</section>