<section class="three-room">
  <div class="three-room__container container">
    <h3 class="three-room__subtitle">Готель</h3>
    <p class="three-room__logo">MIMIHO</p>
    <h2 class="three-room__title">ТРЬОХМІСНИЙ НОМЕР</h2>
    <p class="three-room__text">
      Дві кімнати, двоспальне ліжко, тумбочки біля ліжка, настільні лампи, обідній стіл на 6 персон із стільцями, крісла, розкладний диван, в кожній кімнаті LCD-телевізори, радіоприймачі, шафа, місце для багажу, ванна кімната, халат.
    </p>
    <picture>
      <source
        srcset="
          ./images/three-room-img/three-room-desk.jpg    1x,
          ./images/three-room-img/three-room-desk@2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./images/three-room-img/three-room-tab.jpg    1x,
          ./images/three-room-img/three-room-tab@2x.jpg 2x
        "
        media="(min-width: 1024px)"
      />
      <img
        class="three-room_img"
        srcset="
          ./images/three-room-img/three-room-mob.jpg    1x,
          ./images/three-room-img/three-room-mob@2x.jpg 2x
        "
        src="./images/three-room-img/three-room-mob.jpg"
        alt="номер отеля"
      />
    </picture>
    <div class="three-room__slider-container">
      <ul class="three-room__slider-list">
        <li class="three-room__slider-item">
          <picture>
            <source
              srcset="
                ./images/three-room-img/bathroom-desk.jpg    1x,
                ./images/three-room-img/bathroom-desk@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/three-room-img/bathroom-tab.jpg    1x,
                ./images/three-room-img/bathroom-tab@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <img
              class="three-room__slider-img"
              srcset="
                ./images/three-room-img/bathroom-mob.jpg    1x,
                ./images/three-room-img/bathroom-mob@2x.jpg 2x
              "
              src="./images/three-room-img/bathroom-mob.jpg"
              alt=""
            />
          </picture>
        </li>
        <li class="three-room__slider-item">
          <picture>
            <source
              width="254"
              height="254"
              srcset="
                ./images/three-room-img/room-desk.jpg    1x,
                ./images/three-room-img/room-desk@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/three-room-img/room-tab.jpg    1x,
                ./images/three-room-img/room-tab@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <img
              width="194"
              height="194"
              class="three-room__slider-img"
              srcset="
                ./images/three-room-img/room-mob.jpg    1x,
                ./images/three-room-img/room-mob@2x.jpg 2x
              "
              src="./images/three-room-img/room-mob.jpg"
              alt=""
            />
          </picture>
        </li>
      </ul>
    </div>

    <div class="three-room__slider">
      <button class="three-room__slider-arrow" type="button">
        <svg class="three-room__slider-icon" width="32" height="32">
          <use href="./images/icons-svg.svg#icon-arrow-left"></use>
        </svg>
      </button>

      <button class="three-room__slider-arrow" type="button">
        <svg class="three-room__slider-icon" width="32" height="32">
          <use href="./images/icons-svg.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>

    <div class="three-room__info">
      <a
        class="three-room__link-more"
        href="./room.html"
        target="_blank"
        >Детальніше</a
      >
      <button class="three-room__button-price" type="button" data-modal-open-third-3>
        Переглянути ціни
      </button>
    </div>
  </div>
</section>
