.roomminislider {
    // для кожного тут свої позначення

    @media screen and (min-width: 1024px) {
      align-self: flex-end;
      // 32px
      margin-top: -32px;
    }
    @media screen and (min-width: 1280px) {
      margin-top: -127px;
    }
    .swiper {
      // тінь
      margin-top: -60px;
      padding-top: 60px;
      @media screen and (min-width: 414px) {
        margin-right: -15px;
      }
      @media screen and (min-width: 1024px) {
        margin-right: -20px;
        margin-left: -20px;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
    .swiper-wrapper {
      @media screen and (min-width: 1024px) {
        max-width: 428px;
      }
      @media screen and (min-width: 1280px) {
        max-width: 548px;
      }
    }
    // спільне
    .swiper-slide {
      max-width: 245px !important;
      box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
      & .swiper-inner > img {
        object-fit: contain;
      }
      @media screen and (max-width: 1023px) {
        &.swiper-slide-next,
        &.swiper-slide-prev {
          opacity: 0.5;
        }
      }
      @media screen and (min-width: 1024px) {
        max-width: 194px !important;
      }
      @media screen and (min-width: 1280px) {
        max-width: 254px !important;
      }
    }
  }
  