.header {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 50;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px 15px;

        @media screen and (min-width: 1024px) {
            padding: 24px 47px;
        }
    }
}

.header__logo {
    font-family: 'Film P3';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.08;
    letter-spacing: 0.3em;
    color: var(--titles-color);

    @media screen and (min-width: 1024px) {
            font-size: 40px;
                line-height: 43px;
        }
    
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;

    @media screen and (min-width: 1024px) {
        justify-content: start;
    }
}

.nav__link {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: var(--active-color);

    @media screen and (min-width: 1024px) {
        font-size: 20px;
        line-height: 1.2;
    }
}


.nav__icon {
    margin-right: 0;

    @media screen and (min-width: 1024px) {
        margin-right: 8px;
    }
}

.nav__item {
    display: flex;
}

.nav__item:nth-child(2n) {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 2px;
    margin-left: 6px;
    padding: 0;

    @media screen and (min-width: 1024px) {
        border-color: rgba(243, 198, 83, .7);
        margin-left: 32px;
        padding: 8px;
    }
}

.nav__item:nth-child(3) {
    margin-left: 20px;

    @media screen and (min-width: 1024px) {
        margin-left: 32px;
    }
}

.nav__text {
    letter-spacing: .02em;
    color: var(--titles-color);
    font-size: 14px;
    line-height: 1.2;
    display: none;

    @media screen and (min-width:1024px) {
        display: block;
    }
}

.social {
    display: none;
    gap: 20px;

    @media screen and (min-width: 1280px) {
        display: flex;
    }
}