.menu-restaurant {
  background-color: var(--even-section-background-color);
  color: var(--subtitles-color);
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
  padding-top: 32px;

  @media screen and (min-width: 1024px) {
    background-color: var(--odd-section-background-color);
    padding-top: 58px;
    padding-bottom: 40px;
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 60px;
    padding-top: 58px;
  }
}

.menu-restaurant__main-tittle {
  font-family: "Times New Roman";
  font-size: 32px;
  line-height: 1.16;
  margin-bottom: 32px;
  @media screen and (min-width: 1024px) {
    margin-bottom: 40px;
    text-transform: uppercase;
  }
}

.menu-restaurant__list-category {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr;
  @media screen and (min-width: 1024px) {
    grid-template-columns: 1fr 1fr;
    gap: 88px;
  }
  @media screen and (min-width: 1280px) {
    gap: 140px;
  }
}

.menu-restaurant__column {
  display: flex;
  flex-direction: column;
  gap: 16px;
  @media screen and (min-width: 1024px) {
    gap: 20px;
  }
}

.menu-restaurant__tittle {
  font-family: "Times New Roman";
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 1.15;

  @media screen and (min-width: 1024px) {
    margin-bottom: 20px;
  }
}

.menu-restaurant__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  @media screen and (min-width: 1280px) {
    gap: 12px;
  }
}

.menu-restaurant__item {
  align-items: center;
  font-size: 20px;
  line-height: 1.15;
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.menu-restaurant__wraper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  flex-grow: 1;
}

.menu-restaurant__name {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
}

.menu-restaurant__description {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
}

.menu-restaurant__weight {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  min-width: 40px;
}

.menu-restaurant__price {
  font-size: 14px;
  line-height: 1.21;
  min-width: 60px;
  text-align: end;
}

.menu-restaurant__button {
  display: block;
  background-color: var(--subtitles-color);
  color: var(--active-color);
  width: 236px;
  height: 48px;
  border-radius: 25px;
  border: 2px solid var(--even-section-background-color);
  margin-left: auto;
  margin-right: auto;
  margin-top: 32px;
  cursor: pointer;

  @media screen and (min-width: 1024px) {
    margin-right: 0;
  }
}
