.modal {
  background-color: #fffdee;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 15px;
  padding-right: 15px;
  width: 95%;
  max-width: 414px;
  position: absolute;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  @media screen and (min-width: 1024px) {
    max-width: 714px;
  }
}

.modal__button {
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  background-color: transparent;
}

.form__position-first {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @media screen and (min-width: 1024px) {
    flex-wrap: wrap;
    height: 182px;
    gap: 20px 16px;
  }
}

.form__position-second {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__position-third {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form__field {
  @media screen and (min-width: 1024px) {
    width: calc((100% - 16px) / 2);
  }
}
