
//text description room
.roomluxe {
    //mobile screen

    padding-top: 32px;
    padding-bottom: 32px;
    background: #fffdee;
   
    //tablet screen
    @media screen and (min-width: 1024px) {
        padding-top: 62px;
        padding-bottom: 40px;
        position: relative;
    }

    //desktop screen
    @media screen and (min-width: 1280px) {
        padding-top: 72px;
        padding-bottom: 40px;
    }
}


 .room-subtitle {

    //mobile screen
    margin-bottom: 8px;

    font-weight: 400;
    font-family: Times New Roman;
    font-size: 20px;
    line-height: 1.15;

    color: var(--third-text-color);

    //tablet screen
    @media screen and (min-width: 1024px) {
        
        margin-bottom: 4px;

        font-size: 32px;
       
    }
}

.room-logo {
    //mobile screen
    margin-bottom: 32px;

    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    line-height: 1.08;
    letter-spacing: 0.3em;
    text-transform: uppercase;

    color: var(--logo-title-color);

    //tablet screen
    @media screen and (min-width: 1024px) {
        
        margin-bottom: 62px;
        font-size: 64px;
        line-height: 1.08;
    
    }

    //desktop screen
    @media screen and (min-width: 1280px) {
        
        margin-bottom: 72px;
    }
    
}

.room-title {
    //mobile screen
    margin-bottom: 12px;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    line-height: 1.15;
    letter-spacing: 0.05em;

    color: var(--subtitles-color);

    //tablet screen
    @media screen and (min-width: 1024px) {
        margin-bottom: 16px;

        font-size: 30px;
    }

    //desktop screen
    @media screen and (min-width: 1280px) {
        margin-bottom: 24px;

        font-size: 36px;
    }
}

.room-title .uppercase {
     text-transform: uppercase;
}

.room-about {
    //mobile screen
    margin-bottom: 32px;
    max-width: 258px;
    height: 76px;
    text-align: left;
    
    font-weight: 600;
    font-size: 12px;
    line-height: 1.22;
    letter-spacing: 0.02em;

    color: var(--main-text-color);

    //tablet screen
    @media screen and (min-width: 1024px) {
        margin-bottom: 176px;

        font-weight: 700;
        font-size: 16px;
    }

    //desktop screen
    @media screen and (min-width: 1280px) {
        margin-bottom: 188px;
    }
}

// room main image

.room-overlay {

    //tablet screen
    @media screen and (min-width: 1024px) {
        display: flex;
        position: absolute;
        content: "";
        top:0;
        right: 0;
        transform: translate( -16%, -6%);
    }
}

.room-main {
    margin-left: 140px;
    margin-bottom: 32px;
    border-radius: 2px;
    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
   
    @media screen and (min-width: 1024px) {
        box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
    }
    
}

//slider details
.view-overlay {

    @media screen and (min-width: 1024px) {
        display: flex;
    }
}
.room-view-thumb {
    display: flex;
    gap: 40px;
    
    
}

.room-view-img {

box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);

}

.room-view-item {
    margin-bottom: 72px;
}

.room-review {
    
    margin-bottom: 16px;

}
 
//button

.button-container {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 1024px) {
        justify-content: center;
        align-items: flex-end;

       margin-left: auto;
    }
}

.room-details {
    display: block;
    margin-bottom: 16px;
    color: var(---active-color);
    background-color: var(--subtitles-color);
}

.room-modal {
    color: var(---active-color);
    background-color: var(--subtitles-color);
}

.room-details:hover, .room-details:focus,
.room-modal:hover, .room-modal:focus {
    color: var(--subtitles-color);
    background-color: var(---active-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}