.hero-homepage {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)),
        url(/src/images/heroes/homepage-hero-bg-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


    @include tablet {
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.65),
                rgba(0, 0, 0, 0.65)),
            url(/src/images/heroes/homepage-hero-bg-tab.jpg);

    }

    @include desktop {
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.65),
                rgba(0, 0, 0, 0.65)),
            url(/src/images/heroes/homepage-hero-bg-desktop.jpg);

    }
}

.hero-rest {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)),
        url(/src/images/heroes/rest-hero-bg-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include retina {
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.65),
                rgba(0, 0, 0, 0.65)),
            url(/src/images/heroes/rest-hero-bg-mob-2x.jpg);
    }

    @include tablet {
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.65),
                rgba(0, 0, 0, 0.65)),
            url(/src/images/heroes/rest-hero-bg-tab.jpg);

        @include retina {
            background-image: linear-gradient(0deg,
                    rgba(0, 0, 0, 0.65),
                    rgba(0, 0, 0, 0.65)),
                url(/src/images/heroes/rest-hero-bg-tab-2x.jpg);
        }
    }

    @include desktop {
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.65),
                rgba(0, 0, 0, 0.65)),
            url(/src/images/heroes/rest-hero-bg-desktop.jpg);

        @include retina {
            background-image: linear-gradient(0deg,
                    rgba(0, 0, 0, 0.65),
                    rgba(0, 0, 0, 0.65)),
                url(/src/images/heroes/rest-hero-bg-desktop-2x.jpg);
        }
    }
}

.hero-hotel {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.65),
            rgba(0, 0, 0, 0.65)),
        url(/src/images/heroes/hotel-hero-bg-mob.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


    @include retina {
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.65),
                rgba(0, 0, 0, 0.65)),
            url(/src/images/heroes/hotel-hero-bg-mob-2x.jpg);
    }

    @include tablet {
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.65),
                rgba(0, 0, 0, 0.65)),
            url(/src/images/heroes/hotel-hero-bg-tab.jpg);

        @include retina {
            background-image: linear-gradient(0deg,
                    rgba(0, 0, 0, 0.65),
                    rgba(0, 0, 0, 0.65)),
                url(/src/images/heroes/hotel-hero-bg-tab-2x.jpg);
        }
    }

    @include desktop {
        background-image: linear-gradient(0deg,
                rgba(0, 0, 0, 0.65),
                rgba(0, 0, 0, 0.65)),
            url(/src/images/heroes/hotel-hero-bg-desktop.jpg);

        @include retina {
            background-image: linear-gradient(0deg,
                    rgba(0, 0, 0, 0.65),
                    rgba(0, 0, 0, 0.65)),
                url(/src/images/heroes/hotel-hero-bg-desktop-2x.jpg);
        }
    }
}

.hero {
    width: 100vw;
    position: relative;
    padding: 181px 15px 102px 15px;

    text-align: center;

    @include tablet {
        padding: 188px 47px 257px;
    }

    @include desktop {
        padding: 164px 85px 257px;
    }

}

.hero__tittle {
    font-family: 'Film P3';
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.08;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    text-align: center;
    color: var(--titles-color);
    margin-bottom: 24px;
    transform: translate(10px);

    @media screen and (min-width: 1024px) {
        font-size: 128px;
        line-height: 1.08;
        margin-bottom: 16px;
    }

    @media screen and (min-width: 1280px) {
        margin-bottom: 32px;
    }
}

.hero__name {
    font-size: 14px;
    line-height: 1.25;
    font-weight: 600;
    letter-spacing: 0.02em;
    color: var(--titles-color);
    margin-bottom: 40px;

    @media screen and (min-width: 1024px) {
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 56px;
    }

    @media screen and (min-width: 1280px) {
        margin-bottom: 64px;
    }
}

.hero__slogan {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--titles-color);

    @media screen and (max-width: 1023px) {
        margin-bottom: 113px;
    }

    @include tablet {
        font-size: 36px;
        line-height: 1.14;
    }
}

.hero__location {
    display: flex;
    align-items: center;

    width: 210px;
    height: 47px;
    text-align: left;

    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.01em;

    border: 1px solid;
    border-color: var(--active-color);
    border-radius: 2px;

    color: var(--titles-color);
    fill: var(--active-color);

    padding: 8px 3px 9px 6px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--active-color);
    }

    @media screen and (max-width: 1023px) {
        position: absolute;
        top: 70px;
        right: 15px;
    }

    @include tablet {
        width: 285px;
        height: 56px;
        padding: 8px 8px 8px 10px;
        font-size: 16px;
        line-height: 1.25;
        position: absolute;
        bottom: 64px;
        left: 47px;
    }

    @include desktop {
        position: absolute;
        bottom: 64px;
        left: 85px;
    }
}

.hero__location-icon {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 10px;

    @include tablet {
        width: 24px;
        height: 24px;
    }

}

.hero__btn {
    color: var(--active-color);
    border: 2px solid;
    border-color: var(--titles-color);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 25px;
    padding: 14px 24px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: 0.01em;

    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background: var(--titles-color);
        border: 2px solid var(--active-color);
    }
}

.hero__btn--first {
    @media screen and (max-width: 1023px) {
        margin-bottom: 24px;
    }

    @media screen and (min-width: 1024px) and (max-width: 1279px) {
        position: absolute;
        bottom: 64px;
        right: 319px;
    }

    @include desktop {
        position: absolute;
        bottom: 65px;
        right: 377px;
    }
}

.hero__btn--second {
    @media screen and (min-width: 1024px) and (max-width: 1279px) {
        position: absolute;
        bottom: 64px;
        right: 47px;
    }

    @include desktop {
        position: absolute;
        bottom: 65px;
        right: 85px;
    }
}

.social-list-nav {
    display: flex;
    align-items: center;
    gap: 20px;

    position: absolute;
    bottom: 20px;
    left: 15px;

    @media screen and (min-width: 1024px) and (max-width: 1279px) {
        position: absolute;
        bottom: 15px;
        left: 47px;
    }

    @include desktop {
        display: none;
    }
}

.social-list-nav__icon {
    display: block;
    fill: var(--active-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: var(--secondary-text-color);
    }
}