.section-contacts{
  padding: 36px 0px 32px;
  @media screen and (min-width: 1024px){
    padding: 56px 0px 40px;
  }
  @media screen and (min-width: 1280px) {
    padding: 56px 0px 73px;
  }
}

@media screen and (min-width: 1024px) {
  .section-contacts__position{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.section-contacts__logo{
  text-transform: uppercase;
  font-family: 'Film P3';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.075;
  letter-spacing: 0.3em;
  color: #494848;
  margin-bottom: 12px;
  @media screen and (min-width: 1024px) {
    font-size: 64px;
    line-height: 1.078;
    margin-bottom: 8px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 16px;
  }
}

.section-contacts__description{
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  @media screen and (min-width: 1024px) {
    margin-bottom: 52px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
    font-size: 20px;
    line-height: 1.2;
  }
}

.contacts-list__contact{
  display: flex;
 align-items: center;

  &:not(:last-child) {
      margin-bottom: 16px;
    }
  
  @media screen and (min-width: 1024px) {
    display: block;
    &:not(:last-child) {
        margin-bottom: 24px;
      }
    &:nth-child(2n) {
      margin-bottom: 0px;
    }
  }
}

.contact__title{
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  @media screen and (min-width: 1024px) {
   margin-bottom: 8px;   
  }
}
.contact__link{
  padding: 9px 8px 7px 9px;
  border: 0.5px solid var(--active-color);
  border-radius: 2px;
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.214;
  letter-spacing: 0.02em;
  color: #494848;
}
.contact__tel--hotel{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.214;
  letter-spacing: 0.02em;
  color: #494848;
  &:not(:last-child) {
    margin-right: 12px;
  }
}
.contact__link--adress{
  padding: 8px 33px 7px 10px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.01em;
  @media screen and (min-width: 1024px) {
    max-width: 285px;
    margin-top: 48px;
    padding: 9px 8px 7px 10px;
  }
}
.contact__svg{
  width: 24px;
  height: 24px;
  margin-right: 9px;
}

.map{
  width: 100%;
  height: 220px;
  margin-top: 32px;
  border: 1px solid #BABABA;
  box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  @media screen and (min-width: 1024px) {
    max-width: 535px;
    height: 412px;
    margin-top: 0px;
    box-shadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);
  }
  @media screen and (min-width: 1280px) {
    max-width: 634px;
    height: 412px;
  }
}